deluge:
    host: host
    username: username
    password: password
imdb:
    user: user
    list: list
t411:
    username: username
    password: pwd
    site_specific_kw:
        movies: ''
trakt:
    account_id: account_id
    client_id: client_id
    client_secret: client_secret