local_folder: '/local/folder'
remote_user: user
remote_server: hostname.com
remote_folder: 'remote/folder'
ssh_opts:
  port: 22
  keys: 'path/to/identity/file'
reverse_folder:
  - '/folder/to/sync/from/local/to/remote'
move_if_finished:
  - - '/move/this/folder'
    - '/to/this/folder'
clean_remote_folder:
  - '/folder/to/clean'
  - 'second/folder/to/clean'
bandwith_limit: 0
active_hours:
  - 0
  - 6
exclude_folders_in_check:
  - '/folder/to/exclude'
  - 'another/one'
monitor_options:
  network_card: eth0