torrent_path: '/path/to/torrent/'
torrent_name: 'torrentname'
completed_folder: '/download/folder/'
destination_folder: '/move/to/folder/'
remove_duplicates: 0
handling:
  file_types:
    - avi
    - mkv
    - pdf:
        convert_comics: cbz
  shows:
    media_type: shows
    move_to: '/home/user/TV_Shows/{{ series_name }}/Season {{ episode_season }}/{{ series_name|titleize|nospace }}.{{ episode_numbering|nospace }}.{{ episode_name|titleize|nospace }}.{{ quality|downcase|nospace }}.{{ proper|downcase }}'
  movies:
    media_type: movies
    move_to: '/home/user/Movie/{{ movies_name }}/{{ movies_name|titleize|nospace }}.{{ quality|downcase|nospace }}.{{ proper|downcase }}'