folder: /folder/to/monitor
no_prompt: 0
delta: 10
include_specials: 0
remove_duplicates: 0
handle_missing:
  download: 0
  move_to: '/folder/to/move/completed/to'
  main_only: 1
  only_on_trackers:
    - wop
    - torrentleech
    - thepiratebay
  quality:
    min_quality: 720p hdtv
    max_quality: 1080p
    min_size: 100(in MB)
    max_size: 3000(in MB)