dest_folder: /folder/to/download/to
source: 'trakt'
no_prompt: 0
type: 'trakt'
extra_keywords: ''
qualities:
  min_quality: 720p hdtv
  max_quality: 1080p
  min_size: 100(in MB)
  max_size: 3000(in MB)