periodic:
  task2:
    command: help
    execution: 3600
    every: 1 minutes
    args:
  calendar_feed_refresh:
    command: calendar.refresh_feed
    every: 12 hours
    args:
      days: 45
      limit: 200
continuous:
  task1:
    command: library.fetch_media_box
    args:
      template_name: fetch_media_box