torrent_sources:
  type: 'sub' #Or 'search'
  trackers:
    - torrentleech:
        timeframe: 1 hour
    - rss:
      - http://feed.first
      - https://feed.second:
          timeframe: 3 hours
filter_sources:
  calibre:
    series: 1
  filesystem:
    existing_folder:
      movies: '/folder/of/movies'
      shows: '/folder/of/tvseries'
    include_specials: 1 #For tv shows
    filter_criteria:
      days_newer:
      days_older:
    delta: 10
    upgrade: 1 #if '1', will try to download episodes of better qualities if available
    get_missing_set: 1 #If '1', will look for missing movies from a given set
  search:
    keywords:
      - 'keyword'
      - 'nother'
  trakt:
    list_name: 'watchlist'
    include_specials: 1 #For tv shows
    delta: 10
    upgrade: 1 #if '1', will try to download episodes of better qualities if available
    get_missing_set: 1 #If '1', will look for missing movies from a given set
    existing_folder:
      movies: '/folder/of/movies'
      shows: '/folder/of/tvseries'
category: shows
search_category: optional_can_be_one_of_movies_shows_books_comics
no_prompt: 0
qualities:
  min_quality: 720p hdtv
  max_quality: 2160p
  target_quality: 1080p
  assume_quality: vo
  timeframe: 1 hour
  min_size: 100 #MB
  max_size: 3000 #MB
  target_size: 8000 #MB
  timeframe_size: 96 hours
  illegal:
    - x265 2160p
download_criteria:
  rename_main: 'rename file'
  main_only: 0
  add_paused: 1
  queue: bottom #one of 'top' or 'bottom', default is 'bottom'
  whitelisted_extensions:
    video:
      - avi
    books:
      - cbr
  destination:
    shows: '/home/user/tv/{{ series_name }}/Season {{ episode_season }}'
    movies: '/home/user/Movie/'