torrent_sources:
  type: 'sub' #Or 'search'
  trackers:
    - torrentleech:
        timeframe: 1 hour
    - rss:
      - http://feed.first
      - https://feed.second:
          timeframe: 3 hours
filter_sources:
  local_files:
    include_specials: 1 #For tv shows
    delta: 10
  search:
    keywords:
      - 'keyword'
      - 'nother'
  trakt:
    list_name: 'watchlist'
    include_specials: 1 #For tv shows
    delta: 10
  lists:
    list_name: 'watchlist'
    include_specials: 1 #For tv shows
    delta: 10
  watchlist:
    # Loads entries from the Watchlist filled from the calendrier / intérêt pane.
category: shows
search_category: optional_can_be_one_of_movies_shows
no_prompt: 0
qualities:
  min_quality: 720p hdtv
  max_quality: 2160p
  target_quality: 1080p
  assume_quality: vo
  timeframe: 1 hour
  min_size: 100 #MB
  max_size: 3000 #MB
  target_size: 8000 #MB
  timeframe_size: 96 hours
  illegal:
    - x265 2160p
download_criteria:
  rename_main: 'rename file'
  main_only: 0
  add_paused: 1
  queue: bottom #one of 'top' or 'bottom', default is 'bottom'
  whitelisted_extensions:
    video:
      - avi
  destination:
    shows: '/home/user/tv/{{ series_name }}/Season {{ episode_season }}'
    movies: '/home/user/Movie/'
grab_all: 0 #If set to 1, will grab all torrents results for a given search, not just the first
