torrent_sources:
  type: 'sub' #Or 'search'
  trackers:
    - torrentleech:
        timeframe: 1 hour
    - rss:
      - http://feed.first
      - https://feed.second:
          timeframe: 3 hours
filter_sources:
  calibre:
    series: 1
  filesystem:
    existing_folder:
      movies: '/folder/of/movies'
      shows: '/folder/of/tvseries'
    include_specials: 1 #For tv shows
    replace: 1
    filter_criteria:
      days_newer:
      days_older:
    delta: 10
  search:
    keywords:
      - 'keyword'
      - 'nother'
  trakt:
    list_name: 'watchlist'
    include_specials: 1 #For tv shows
    delta: 10
    existing_folder:
      movies: '/folder/of/movies'
      shows: '/folder/of/tvseries'
category: shows
no_prompt: 0
qualities:
  min_quality: 720p hdtv
  max_quality: 2160p
  target_quality: 1080p
  assume_quality: vo
  timeframe: 1 hour
  min_size: 100
  max_size: 3000
  target_size: 8000
  timeframe_size: 96 hours
  illegal:
    - x265 2160p
download_criteria:
  rename_main: 'rename file'
  main_only: 0
  destination:
    shows: '/home/user/tv/{{ series_name }}/Season {{ episode_season }}'
    movies: '/home/user/Movie/'